<div class="bg">
  <div class="card">
    <h2>Registrarse</h2>
    <!--BEGIN: CAMBIOS AQUI-->
    <form>
      <div>
        <label>Nombre</label>
        <input id="name" type="text" />
      </div>
      <div>
        <label>Correo Electrónico</label>
        <input id="email" type="email" />
      </div>
      <div>
        <label>Nombre de Usuario</label>
        <input id="email" type="email" />
      </div>
      <div>
        <label>Contraseña</label>
        <input id="password" type="password" />
      </div>
      <div>
        <label>Confirmar Contraseña</label>
        <input id="confirmPassword" type="password" />
      </div>
      <button type="submit">Enviar</button>
    </form>
    <!--END: CAMBIOS AQUI-->
  </div>
</div>