<div class="bg">
  <div class="card">
    <h2 class="title">Juegos</h2>
    <!--BEGIN: TUS CAMBIOS AQUI-->
    <div class="find-container">
      <input type="text" class="form-control" placeholder="Busca juegos por ID" #filter (keyup)="updateGames(filter.value)">
      <button class="btn-new" type="button" (click)="updateGames(''); filter.value = ''">Limpiar</button>
    </div>
    <div class="actions">
      <a href="/angular/senior/games/new" class="btn-new">Nuevo</a>
    </div>
    <div *ngIf="games | async as games">
      <ul role="list" class="list">
        <li *ngFor="let game of games" class="item">
          <div class="row">
            <div class="row-group">
              <p class="row-content">{{game.name}}</p>
            </div>
            <div class="row-action">
              <button (click)="deleteGame(game.id)" class="btn-delete">Eliminar</button>
            </div>
            <div class="row-action">
              <a href="/angular/senior/games/{{game.id}}" class="btn-edit">Editar</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--END: TUS CAMBIOS AQUI-->
  </div>
</div>